*body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 20em;
}

.img {
    width: 50%;
    height: auto;
    margin-bottom: 0%;
}

.telaVaca {
    width: 100%;
    height: auto;
    margin-bottom: 0%;
    object-fit: cover;
    object-position: bottom;
}

.formulario {
    width: 50%;
}

.guardaBotao {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.botao {
    background-color: #83A93A;
    color: white;
    margin-top: 2em;
    width: 28em;
    border-radius: 1em;
    border-color: #6D3B00;
    padding: 0.2em;
    font-size: 14pt;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color:#6D3B00
}

.botaoVoltar {
    margin-left: 10px;
    background-color: #93c041;
    border-radius: 10px;
    border-color: black;
    
}

.bi {
    color: black;
}